node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
.env
.env.local
.DS_Store
Thumbs.db
*.log
.vscode
.idea
coverage
dist
build
android/app/build
android/.gradle
ios/build
ios/Pods
*.apk
*.aab
*.ipa
